// ice blue = #99D3DF
// fresh water = #88BBD6
// plaster = #CDCDCD
// linen = #E9E9E9

// font-family: "Papyrus"
// font-family: "Andale Mono"


body{
  background-color: #CDCDCD;
  margin: 0px;
  font-family: "Andale Mono";



  .App-header{
    background-color: #99D3DF;
    display: flex;
    justify-content: space-around;

    .navlink{
      color: white;
      text-decoration: none;
      font-family: "Papyrus";
      padding: 20px;
    }
    .navlink:hover{
      background-color: #88BBD6;
    }

  }


  .quizPage{


    // button:active{
    //   color:black;
    // }

    button:active{
      color:black;
    }



  }



  .dogPage{

    display:flex;
    flex-direction: row;
    justify-content: space-around;

    .dogListWrapper{
      margin: 50px;
      height: 600px;
      display:flex;
      flex-direction: column;
      overflow: scroll;

      .eachDog{
        background-color: #E9E9E9;
        width: 250px;
        height: 100px;
        margin: 15px;
        text-decoration: none;
        display:flex;
        justify-content: space-around;
        align-items: center;


        p{
          font-family: "Papyrus";
          color: black;
        }

        img{
          height: 50px;
          width: auto;
        }
      }
    }
    .dogInfoWrapper{
      background-color: #E9E9E9;
      margin: 65px;
      height: 550px;
      width: 700px;      


      .dogName{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img{
          height: 200px;
          margin: 40px;
        }
        h1{
          font-family: "Papyrus";
          margin-left: 50px;
        }
      }

    }
  }
}


button:active{
   background:none;
}
button {
  padding: 20px;
  transition: all .2s;
}
button{
  outline:none;
}
.selected{
  background:#88BBD6;
}