// ice blue = #99D3DF
// fresh water = #88BBD6
// plaster = #CDCDCD
// linen = #E9E9E9

// font-family: 'Marck Script', cursive;
// font-family: 'Baumans', cursive;




body{
  background-image: url('/gray-background.jpg');
  margin: 0px;
  font-family: 'Baumans', cursive;




  // Nav bar
  .App-header{
    background-color: #99D3DF;
    display: flex;
    justify-content: space-around;

    .pet-harmony-logo{
      display:flex;
      align-items: center;
      h3{
        margin: 10px;
        font-size: 30px;
        color:white;
        font-family: 'Marck Script', cursive;
      }
      .nav-icon{
        width: 50px;
      }
    }

    .navlink{
      color: white;
      text-decoration: none;
      font-family: 'Baumans', cursive;
      font-size: 18px;
      padding: 20px;
    }
    .navlink:hover{
      background-color: #88BBD6;
    }
  }




  // Home Page
  .homePage{
    padding: 50px;
    

    .home-loggedOut{

    }



    // Views when user is logged in
    .home-loggedIn{

      .homeTitle{
        margin: 20px;
        p{
          font-family: 'Marck Script', cursive;
          font-size: 36px;
        }
      }

      // Views when user has taken quiz
      .preferences-true{
        display:flex;
        flex-direction: row;
        justify-content: space-around;

        .matches-div{
          box-shadow: 0 0 14px 14px rgb(233, 233, 233) inset;
          width:600px;
          height: 500px;
          padding: 90px;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          .bestMatch-div{
            background-color: #99D3DF;
            padding: 40px;
            font-size: 24px; 
            height: 80%;
            display:flex;
            flex-direction:row;
            justify-content: space-around;
            align-items: center;

            .link-hover-div{
              margin: 40px;
              .top-match{
                border: 1px solid white;
                position: relative;
                height: 200px;
                opacity:1;
                transition: opacity .5s ease-in-out;
              }
              span{
                transition: opacity .5s ease-in-out;
                position: absolute;
                z-index: 10;
                opacity:0;
              }
  

            }
            .link-hover-div:hover{
              span{
                color:black;
                opacity:1;
                justify-self: center;

              }
              .top-match{
                opacity:0;
              }
            }


          }
          .matchesLink{
            background-color: rgba(233, 233, 233, .3);
            padding: 15px 30px;
            width:70%;
            border-radius: 15px;
            border: 3px solid #88BBD6;
            margin: 25px 30px 0px 80px;
            text-align: center;

            .theLink{
              font-family: 'Baumans', cursive;
              text-decoration: none;
              color:black;
            }
            .theLink:hover{

            }
          }
          .matchesLink:hover{
            transform: scale(1.05);
            transition: .5s ease;
          }
        }

        .something{
          background-color: rgba(233, 233, 233, .3);
          height: 200px;
          width: 200px;
          padding:30px;
        }
      }




      // Views when user has not taken quiz
      .preferences-false{

      }
    }

  }



















  // Quiz Page
  .quizPage{
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;

    .question-div{
      box-shadow: 0 0 14px 14px rgb(233, 233, 233) inset;
      // width: 70%;
      // height:80%;
      margin-top: 200px;
      padding: 20px;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .question h6{
        margin:40px;
        font-size: 30px;
        font-family: 'Marck Script', cursive;
      }

      .quiz-options{
        display:flex;
        flex-direction: column;
        button{
          font-family: 'Baumans', cursive;
          padding: 15px 30px;
          border-radius: 15px;
          margin: 5px;
          transition: all .2s;
          outline:none;
        }
        button:active{
          background:none;
        }
        .selected{
          background:#88BBD6;
        }
      }

      .next-div{
        button{
          font-family: 'Baumans', cursive;
          padding: 15px 30px;
          border-radius: 15px;
          border: 3px solid #88BBD6;
          margin: 30px;
          outline:none;
        }
        button:hover{
          transform: scale(1.05);
          transition: .5s ease;
        }
        
      }

    }

  }




  // Dog Page
  .dogPage{

    display:flex;
    flex-direction: row;
    justify-content: space-around;


    // List of matching dogs
    .dogListWrapper{
      margin: 50px;
      height: 600px;
      display:flex;
      flex-direction: column;
      overflow-y: scroll;


      .eachDog{
        // background-color: #E9E9E9;
        background-color: rgba(233, 233, 233, .4);
        border: 2px inset #99D3DF;
        width: 250px;
        height: 100px;
        margin: 15px;
        text-decoration: none;
        display:flex;
        justify-content: space-around;
        align-items: center;


        p{
          font-family: 'Baumans', cursive;
          font-size: 12px;
          color: black;
        }

        img{
          height: 50px;
          width: auto;
        }
      }
    }

    
    // Details of dog
    .dogDetailsWrapper{
      padding:0;


      // View when no dog is selected
      .none-selected{
        margin:200px;
        font-size: 24px;
      }


      // Selected dog info
      .infoWrapper{
        margin: 50px;
        height: 650px;
        width: 750px;
        padding: 10px;
        box-shadow: 0 0 14px 14px rgb(233, 233, 233) inset;


        .details{
          height: 100%;
          width: 100%;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;


          // Title: Dog name and pic
          .dogName{
            width:650px;
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            img{
              height: 200px;
              margin: 10px 10px;
              border: 4px ridge #88BBD6;
            }
            h1{
              font-family: 'Marck Script', cursive;
              font-size: 55px;
              margin: 10px;
              margin-left: 100px;
            }
          }

          // Content: Dog information
          .info-div{
            width: 650px;
            font-size: 20px;
            display:flex;
            flex-direction:row;
            justify-content: space-around;
            align-items: center;

            .dogDetailsInfo{
              width:30%;
              height: 220px;
              display:flex;
              flex-direction: column;
              justify-content: space-around;

              .contact-btn{
                font-family: 'Marck Script', cursive;
                font-size:16px;
                outline:none;
                color: white;
                background-color: #88BBD6;
                border: 2px solid #99D3DF;
                border-radius: 15px;
                padding: 5px 70px;
                margin-top: 10px;
              }
            }

            // Info about the breed
            .breedDetails{
              margin-left: 55px;
              width: 55%;

              span{
                font-size: 12px;
              }

              .progress{
                height: 10px;
                width: 70%;
                border: 1px solid black;
                margin-bottom: 10px;

                .lowest{
                  width: 0%;
                }
                .low{
                  width: 25%;
                }
                .mid{
                  width: 50%;
                }
                .high{
                  width:75%;
                }
                .highest{
                  width:100%;
                }
              }
            }
          }
        }
      }

      // Show email pop up form when contact button is clicked
      .show.emailWrapper{
        width: 55vw; 
        height: 55vh;
        opacity: 1; 
        overflow: hidden;
      }
      .hidden.emailWrapper{
        width: 0vw;
        opacity:0;
        height: 0vh;
      }
      .emailWrapper{
        transition: all 1s;
        z-index: 10;
        position: fixed;
        display:block;
        padding: 20px;
        margin-right: 100px;
        margin-top: 325px;
        background-color: #88BBD6;
        top: 0;
        right: 0;

        .closeEmailWrapper{
          float: right;
          background:none;
        }

        .send-email{
          width: 100%;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
  
          .email-div{
            margin: 5px;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
  
            div{
              margin: 15px;
            }
          }

          .message-div, .subject-div{
            width: 100%;
            margin: 10px;
            display:flex;
            flex-direction: row;
            align-items: center;
            input{
              margin: 5px;
              width: 80%;
            }
            textarea{
              margin: 5px;
              width: 80%;
              height: 100px;
            }
          }
          .btn-div{
            width:100%;
            margin-top: 10px;
            display:flex;
            justify-content: center;
            button{
              width: 40%;
            }
          }
        }
      }
    }
  }
}


