// ice blue = #99D3DF
// fresh water = #88BBD6
// plaster = #CDCDCD
// linen = #E9E9E9

// font-family: 'Marck Script', cursive;
// font-family: 'Baumans', cursive;




body{
  background-image: url('/gray-background.jpg');
  margin: 0px;
  font-family: 'Baumans', cursive;




  .App-header{
    background-color: #99D3DF;
    display: flex;
    justify-content: space-around;

    .pet-harmony-logo{
      display:flex;
      align-items: center;
      h3{
        margin: 10px;
        font-size: 30px;
        color:white;
        font-family: 'Marck Script', cursive;
      }
      .nav-icon{
        width: 50px;
      }
    }

    .navlink{
      color: white;
      text-decoration: none;
      font-family: 'Baumans', cursive;
      font-size: 18px;
      padding: 20px;
    }
    .navlink:hover{
      background-color: #88BBD6;
    }
  }




  .homePage{
    padding: 50px;
    

    .home-loggedOut{

    }


    .home-loggedIn{

      .homeTitle{
        border:2px solid blue;
        margin: 20px;
        p{
          font-family: 'Marck Script', cursive;
          font-size: 36px;
        }
      }

      .preferences-true{
        display:flex;
        flex-direction: row;
        justify-content: space-around;

        .matches-div{
          background-color: rgba(233, 233, 233, .3);
          width:600px;
          height: 400px;
          padding: 90px;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          .bestMatch-div{
            height: 70%;
            display:flex;
            flex-direction:row;
            justify-content: space-around;
          }
          .matchesLink{
            background-color: rgba(233, 233, 233, .3);
            padding: 15px 30px;
            border-radius: 30px;
            border: 3px solid #88BBD6;
            margin: 15px;
            text-align: center;

            .theLink{
              font-family: 'Baumans', cursive;
              text-decoration: none;
              color:black;
            }
            .theLink:hover{

            }
          }
          .matchesLink:hover{
            transform: scale(1.05);
            transition: .5s ease;
          }
        }

        .something{
          background-color: rgba(233, 233, 233, .3);
          height: 200px;
          width: 200px;
          padding:30px;
        }
      }

      .preferences-false{

      }
    }

  }



















  .quizPage{
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;

    .question-div{
      width: 70%;
      height:80%;
      margin-top: 150px;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .question h6{
        margin:40px;
        font-size: 30px;
        font-family: 'Marck Script', cursive;
      }

      .quiz-options{
        display:flex;
        flex-direction: column;
        button{
          font-family: 'Baumans', cursive;
          padding: 15px 30px;
          border-radius: 30px;
          margin: 5px;
          transition: all .2s;
          outline:none;
        }
        button:active{
          background:none;
        }
        .selected{
          background:#88BBD6;
        }
      }

      .next-div{
        button{
          font-family: 'Baumans', cursive;
          padding: 15px 30px;
          border-radius: 30px;
          border: 3px solid #88BBD6;
          margin: 30px;
          outline:none;
        }
        button:hover{
          transform: scale(1.05);
          transition: .5s ease;
        }

        
      }


    }


  }



  .dogPage{

    display:flex;
    flex-direction: row;
    justify-content: space-around;

    .dogListWrapper{
      margin: 50px;
      height: 600px;
      display:flex;
      flex-direction: column;
      overflow-y: scroll;



      .eachDog{
        // background-color: #E9E9E9;
        background-color: rgba(233, 233, 233, .4);
        border: 2px inset #99D3DF;
        width: 250px;
        height: 100px;
        margin: 15px;
        text-decoration: none;
        display:flex;
        justify-content: space-around;
        align-items: center;


        p{
          font-family: 'Baumans', cursive;
          font-size: 12px;
          color: black;
        }

        img{
          height: 50px;
          width: auto;
        }
      }
    }

    

    .dogDetailsWrapper{
      padding:0;



      .none-selected{
        margin:200px;
        font-size: 24px;
      }


      .infoWrapper{
        margin: 50px;
        height: 650px;
        width: 750px;
        padding: 10px;
        box-shadow: 0 0 14px 14px rgb(233, 233, 233) inset;

        
        .details{
          height: 100%;
          width: 100%;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .dogName{
            width:650px;
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            img{
              height: 200px;
              margin: 10px 10px;
              border: 4px ridge #88BBD6;
            }
            h1{
              font-family: 'Marck Script', cursive;
              font-size: 55px;
              margin: 10px;
              margin-left: 100px;
            }
          }

          .info-div{
            width: 650px;
            font-size: 20px;
            display:flex;
            flex-direction:row;
            justify-content: space-around;
            align-items: center;

            .dogDetailsInfo{
              width:30%;
              height: 220px;
              display:flex;
              flex-direction: column;
              justify-content: space-around;

              .contact-btn{
                font-family: 'Marck Script', cursive;
                font-size:16px;
                outline:none;
                color: white;
                background-color: #88BBD6;
                border: 2px solid #99D3DF;
                border-radius: 30px;
                padding: 5px 70px;
                margin-top: 10px;
              }
            }


            .breedDetails{
              margin-left: 55px;
              width: 55%;

              span{
                font-size: 12px;
              }

              .progress{
                height: 10px;
                width: 70%;
                border: 1px solid black;
                margin-bottom: 10px;

                .progress-bar{
                  // width: 75%;
                }
                .lowest{
                  width: 0%;
                }
                .low{
                  width: 25%;
                }
                .mid{
                  width: 50%;
                }
                .high{
                  width:75%;
                }
                .highest{
                  width:100%;
                }
              }


            }
          }



        }

      }

      .show.emailWrapper{
        //display:block;
        width: 55vw; 
        height: 55vh;
        opacity: 1; 
        overflow: hidden;
      }
      .hidden.emailWrapper{
        width: 0vw;
        opacity:0;
        height: 0vh;
      }
      .emailWrapper{
        transition: all 1s;
        z-index: 10;
        position: fixed;
        display:block;
        padding: 20px;
        margin-right: 100px;
        margin-top: 325px;
        background-color: #88BBD6;
        top: 0;
        right: 0;

        .closeEmailWrapper{
          float: right;
          background:none;
        }

        .send-email{
          width: 100%;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
  
          .email-div{
            margin: 5px;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
  
            div{
              margin: 15px;
            }
          }

          .message-div, .subject-div{
            width: 100%;
            margin: 10px;
            display:flex;
            flex-direction: row;
            align-items: center;
            input{
              margin: 5px;
              width: 80%;
            }
            textarea{
              margin: 5px;
              width: 80%;
              height: 100px;
            }
          }
          .btn-div{
            width:100%;
            margin-top: 10px;
            display:flex;
            justify-content: center;
            button{
              width: 40%;
            }
          }
        }
        





      }




    }











    .dogInfoWrapper{
      background-color: #E9E9E9;
      margin: 65px;
      height: 550px;
      width: 700px;      


      .dogName{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img{
          height: 200px;
          margin: 40px;
        }
        h1{
          font-family: 'Marck Script', cursive;
          margin-left: 50px;
        }
      }
      .contact-btn{
        color: white;
        background-color: #88BBD6;
        border: 2px solid #99D3DF;
        padding: 10px 15px;
      }

      .send-email{
        width: 100%;
        margin: 5px;
        border: 1px solid blue;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .email-div{
          margin: 5px;
          display:flex;
          flex-direction: row;
          justify-content: space-around;

          div{
            margin: 5px;
          }
        }
      //   .subject-div{
      //     width: 100%;
      //     margin: 5px;
      //     border: 1px solid blue;
      //     input{
      //       width: 80%;
      //   }
      // }
        .message-div, .subject-div{
          width: 100%;
          margin: 5px;
          border: 1px solid blue;
          display:flex;
          flex-direction: row;
          align-items: center;
          input{
            margin: 5px;
            width: 80%;
          }
          textarea{
            margin: 5px;
            width: 80%;
            height: 100px;
          }
        }
        .btn-div{
          width:100%;
          display:flex;
          justify-content: center;
          button{
            width: 40%;
          }
        }
      }





    }
  }
}


